
.globalToggle {
  background: #4a4a4a;

  &:not(:global(.ant-switch-disabled)):hover {
    background: #4a4a4a;
  }

  &:global(.ant-switch-checked) {
    background: var(--gradient-brand);
  }

  &:global(.ant-switch-checked):not(:global(.ant-switch-disabled)):hover {
    background: var(--gradient-brand);
    filter: brightness(1.05);
  }
}
