
.globalToggle {
  background: #9c9a9a;

  &:not(:global(.ant-switch-disabled)):hover {
    background: #9c9a9a;
  }

  &:global(.ant-switch-checked) {
    background: #5c8dc5;
  }

  &:global(.ant-switch-checked):not(:global(.ant-switch-disabled)):hover {
    background: #5c8dc5;
  }
}
