:global(.ant-segmented).siteToggle {
	--ant-segmented-bg: #000000;
	--ant-segmented-item-color: #ffffff;
	--ant-segmented-item-hover-color: #ffffff;
	--ant-segmented-item-hover-bg: transparent;
	--ant-segmented-item-selected-bg: #5c8dc5;
	--ant-segmented-item-selected-color: #ffffff;

	background: #000000;
	color: #ffffff;
}
