:global(.ant-segmented).siteToggle {
	--ant-segmented-bg: #000;
	--ant-segmented-item-color: #fff;
	--ant-segmented-item-hover-color: #fff;
	--ant-segmented-item-hover-bg: transparent;
	--ant-segmented-item-selected-bg: var(--gradient-brand);
	--ant-segmented-item-selected-color: #fff;

	background: #000;
	color: #fff;
	padding: 2px;
	border-radius: 8px;
}

:global(.ant-segmented).siteToggle :global(.ant-segmented-item) {
	min-height: 23px;
	padding-inline: 9px;
	font-size: 12px;
	font-weight: 500;
}
